<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to Palladium</h1>
<div>
    <form action="/">
        <input type="text" placeholder="Full name">
        <input type="text" placeholder="Username">
        <input type="text" placeholder="Email address">
        <input type="text" placeholder="Address">
        <input type="text" placeholder="Phone number">
        <button type="submit">Register</button>
    </form>
</div>
</body>

<script>
    async function doRequest() {

        let url = 'http://localhost:8080/api/v1/users';
        let data = {'name': 'John Doe', 'occupation': 'John Doe'};

        let res = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        });

        if (res.ok) {

            // let text = await res.text();
            // return text;

            let ret = await res.json();
            return JSON.parse(ret.data);

        } else {
            return `HTTP error: ${res.status}`;
        }
    }

    doRequest().then(data => {
        console.log(data);
    });

</script>

</html>